tmp/newTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.6.0, Date: 01-Oct-2023. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/TAP-0309"
            targetNamespace="http://www.obj-sys.com/TAP-0309"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>
	
   <xsd:element name="DataInterChange" type="basenode"/>
   <xsd:complexType name="DataInterChangeType">
      <xsd:choice>
         <xsd:element name="transferBatch" type="TransferBatch"/>
         <xsd:element name="notification" type="Notification"/>
      </xsd:choice>
   </xsd:complexType>
   
   <xsd:element name = "children">
	<xsd:complexType name ="childrenType">
		<xsd:sequence>
			<xsd:element name="basenode" type="childrenType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
   </xsd:element>
   
   <xsd:complexType name = "basenode">
		<xsd:sequence>
			<xsd:element name="value" type="children" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="TransferBatch">
      <xsd:annotation>
         <xsd:appinfo>
            <!-- Tag Information -->
            <asn1:taginfo class="APPL" classnumber="1" tagtype="IMPLICIT"/>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="batchControlInfo" minOccurs="0" type="xsd:string"/>
         <xsd:element name="accountingInfo" minOccurs="0" type="xsd:string"/>
         <xsd:element name="networkInfo" minOccurs="0" type="xsd:string"/>
         <xsd:element name="vasInfo" minOccurs="0" type="xsd:string"/>
         <xsd:element name="messageDescriptionInfo" minOccurs="0" type="xsd:string"/>
         <xsd:element name="callEventDetails" minOccurs="0" type="xsd:string"/>
         <xsd:element name="auditControlInfo" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   
  <xsd:complexType name="Notification">
      <xsd:annotation>
         <xsd:appinfo>
            <!-- Tag Information -->
            <asn1:taginfo class="APPL" classnumber="2" tagtype="IMPLICIT"/>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="sender" minOccurs="0" type="xsd:string"/>
         <xsd:element name="recipient" minOccurs="0" type="xsd:string"/>
         <xsd:element name="fileSequenceNumber" minOccurs="0" type="xsd:string"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="xsd:string"/>
         <xsd:element name="fileCreationTimeStamp" minOccurs="0" type="xsd:string"/>
         <xsd:element name="fileAvailableTimeStamp" minOccurs="0" type="xsd:string"/>
         <xsd:element name="transferCutOffTimeStamp" minOccurs="0" type="xsd:string"/>
         <xsd:element name="specificationVersionNumber" minOccurs="0" type="xsd:string"/>
         <xsd:element name="releaseVersionNumber" minOccurs="0" type="xsd:string"/>
         <xsd:element name="fileTypeIndicator" minOccurs="0" type="xsd:string"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   
</xsd:schema>