tmp/TAP-0309(no options, no namespace).xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.6.0, Date: 01-Oct-2023. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/TAP-0309"
            targetNamespace="http://www.obj-sys.com/TAP-0309"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="qualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="dataInterChange" type="DataInterChange"/>
   <xsd:complexType name="DataInterChange">
      <xsd:choice>
         <xsd:element name="transferBatch" type="TransferBatch"/>
         <xsd:element name="notification" type="Notification"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="AsciiString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AccessPointNameNI">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="AccessPointNameOI">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="BCDString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AddressStringDigits">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="AiurRequested">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="HexString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="BearerServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Code">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledNumAnalysisCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledPlace">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallEventDetailsCount">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocalTimeStamp">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="UtcTimeOffsetCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:complexType name="DateTime">
      <xsd:sequence>
         <xsd:element name="localTimeStamp" minOccurs="0" type="LocalTimeStamp"/>
         <xsd:element name="utcTimeOffsetCode" minOccurs="0" type="UtcTimeOffsetCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallEventStartTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="CallReference">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledRegion">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallTypeLevel1">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallTypeLevel2">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallTypeLevel3">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledCountryCode">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelCallReferenceNumber">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelInitiatedCFIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelModification">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelServiceKey">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelServiceLevel">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CauseForTerm">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CellId">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChannelCoding">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="AbsoluteAmount">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Charge">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargeableUnits">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedItem">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedPartyStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedUnits">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargeType">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargingCharacteristics">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargingId">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargingPoint">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:complexType name="ChargingTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="ClirIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="CompletionTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="CountryCode">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CseInformation">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolume">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolumeIncoming">
      <xsd:restriction base="DataVolume"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolumeOutgoing">
      <xsd:restriction base="DataVolume"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolumeReference">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="DayCategory">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DayCategorySubtype">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DefaultCallHandlingIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="DepositTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="NetworkId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DestinationNetwork">
      <xsd:restriction base="NetworkId"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PercentageRate">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountRate">
      <xsd:restriction base="PercentageRate"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="DistanceChargeBandCode">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DualBearerServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DualTeleServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="UtcTimeOffset">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:complexType name="DateTimeLong">
      <xsd:sequence>
         <xsd:element name="localTimeStamp" minOccurs="0" type="LocalTimeStamp"/>
         <xsd:element name="utcTimeOffset" minOccurs="0" type="UtcTimeOffset"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EarliestCallTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="Esn">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ExchangeRate">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ExchangeRateCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:complexType name="FileAvailableTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="FileCreationTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="FileSequenceNumber">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="FileTypeIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Fnur">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="FraudMonitorIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSDelay">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSMeanThroughput">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSPeakThroughput">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSPrecedence">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSReliability">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="GSMQoSInformation">
      <xsd:sequence>
         <xsd:element name="delay" minOccurs="0" type="QoSDelay"/>
         <xsd:element name="meanThroughput" minOccurs="0" type="QoSMeanThroughput"/>
         <xsd:element name="peakThroughput" minOccurs="0" type="QoSPeakThroughput"/>
         <xsd:element name="precedence" minOccurs="0" type="QoSPrecedence"/>
         <xsd:element name="reliability" minOccurs="0" type="QoSReliability"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GSMQoSRequested">
      <xsd:complexContent>
         <xsd:extension base="GSMQoSInformation"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="GSMQoSUsed">
      <xsd:complexContent>
         <xsd:extension base="GSMQoSInformation"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="IPTextV4Address">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="IPTextV6Address">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:complexType name="IpAddress">
      <xsd:choice>
         <xsd:element name="iPTextV4Address" type="IPTextV4Address"/>
         <xsd:element name="iPTextV6Address" type="IPTextV6Address"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="GsnAddress">
      <xsd:complexContent>
         <xsd:extension base="IpAddress"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="Bid">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="HomeBid">
      <xsd:restriction base="Bid"/>
   </xsd:simpleType>

   <xsd:simpleType name="Iac">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Imei">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Imsi">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="InitiatingParty">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="LatestCallTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="Latitude">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Currency">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocalCurrency">
      <xsd:restriction base="Currency"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationArea">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Longitude">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Mdn">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageDescriptionCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Min">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MobileStationClassMark">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ModificationIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="ModificationTimestamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="MscId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Msisdn">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MultiRateIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkInitPDPContext">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberOfDecimalPlaces">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberingPlan">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberOfChannels">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberOfChannelsUsed">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="OperatorSpecInformation">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="OriginatingNetwork">
      <xsd:restriction base="NetworkId"/>
   </xsd:simpleType>

   <xsd:simpleType name="PacketDataProtocolAddress">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="PartialTypeIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="PdpAddress">
      <xsd:restriction base="PacketDataProtocolAddress"/>
   </xsd:simpleType>

   <xsd:complexType name="PDPContextStartTimestamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="PdpType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PlmnId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="PriorityCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSAllocRetenPriority">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSDeliveryOrder">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSErroneousSDUs">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSHandlingpriority">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSMaxBitRateUplink">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSMaxBitRateDownlink">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSMaxSDUsize">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSResidualBER">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSSDUErrorRatio">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSTrafficClass">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="QoSTransferDelay">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="RadioChannelRequested">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="RadioChannelUsed">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="RapFileSequenceNumber">
      <xsd:restriction base="FileSequenceNumber"/>
   </xsd:simpleType>

   <xsd:simpleType name="Recipient">
      <xsd:restriction base="PlmnId"/>
   </xsd:simpleType>

   <xsd:simpleType name="RecEntityCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:simpleType name="RecEntityType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ReleaseVersionNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Sender">
      <xsd:restriction base="PlmnId"/>
   </xsd:simpleType>

   <xsd:simpleType name="ServingBid">
      <xsd:restriction base="Bid"/>
   </xsd:simpleType>

   <xsd:simpleType name="ServingNetwork">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SimToolkitIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SpecificationVersionNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="SpeechVersion">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="SpeechVersionRequested">
      <xsd:restriction base="SpeechVersion"/>
   </xsd:simpleType>

   <xsd:simpleType name="SpeechVersionUsed">
      <xsd:restriction base="SpeechVersion"/>
   </xsd:simpleType>

   <xsd:simpleType name="SsParameters">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SupplServiceActionCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="SupplServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TapCurrency">
      <xsd:restriction base="Currency"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TapDecimalPlaces">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxRate">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxType">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TeleServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TimeBand">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TimeBandSubtype">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCallEventDuration">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalDiscountValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalTaxValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:complexType name="TransferCutOffTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="TransparencyIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TypeOfControllingNode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TypeOfNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="UMTSQoSInformation">
      <xsd:sequence>
         <xsd:element name="trafficClass" minOccurs="0" type="QoSTrafficClass"/>
         <xsd:element name="maxBitRateUplink" minOccurs="0" type="QoSMaxBitRateUplink"/>
         <xsd:element name="maxBitRateDownlink" minOccurs="0" type="QoSMaxBitRateDownlink"/>
         <xsd:element name="deliveryOrder" minOccurs="0" type="QoSDeliveryOrder"/>
         <xsd:element name="maxSDUsize" minOccurs="0" type="QoSMaxSDUsize"/>
         <xsd:element name="sduErrorRatio" minOccurs="0" type="QoSSDUErrorRatio"/>
         <xsd:element name="residualBER" minOccurs="0" type="QoSResidualBER"/>
         <xsd:element name="erroneousSDUs" minOccurs="0" type="QoSErroneousSDUs"/>
         <xsd:element name="transferDelay" minOccurs="0" type="QoSTransferDelay"/>
         <xsd:element name="handlingPriority" minOccurs="0" type="QoSHandlingpriority"/>
         <xsd:element name="allocRetenPriority" minOccurs="0" type="QoSAllocRetenPriority"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UMTSQoSRequested">
      <xsd:complexContent>
         <xsd:extension base="UMTSQoSInformation"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="UMTSQoSUsed">
      <xsd:complexContent>
         <xsd:extension base="UMTSQoSInformation"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="VasCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:simpleType name="Description">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="VasDescription">
      <xsd:restriction base="Description"/>
   </xsd:simpleType>

   <xsd:simpleType name="VasShortDescription">
      <xsd:restriction base="Description"/>
   </xsd:simpleType>

   <xsd:complexType name="OrderPlacementTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="RequestedDeliveryTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ActualDeliveryTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="TransactionStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedPartyIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="LoginName">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="AccountNumber">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="EmailAddress">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="HomeIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Name">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CountryName">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CountryAsciCode">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Region">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Place">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="EquipmentIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ProviderIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Url">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="AccessPointName">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentProviderName">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentTransactionCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentTransactionType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionDescriptionSupp">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionDetailDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionShortDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionAuthCode">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalDataVolume">
      <xsd:restriction base="DataVolume"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargeRefundIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentChargingPoint">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PaidIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PaymentMethod">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="AdvisedChargeCurrency">
      <xsd:restriction base="Currency"/>
   </xsd:simpleType>

   <xsd:simpleType name="AdvisedCharge">
      <xsd:restriction base="Charge"/>
   </xsd:simpleType>

   <xsd:simpleType name="Commission">
      <xsd:restriction base="Charge"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalTaxRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalDiscountRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalChargeRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalAdvisedCharge">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalAdvisedChargeRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCommission">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCommissionRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="OperatorSpecInfoList">
      <xsd:list itemType="OperatorSpecInformation"/>
   </xsd:simpleType>

   <xsd:complexType name="BatchControlInfo">
      <xsd:sequence>
         <xsd:element name="sender" minOccurs="0" type="Sender"/>
         <xsd:element name="recipient" minOccurs="0" type="Recipient"/>
         <xsd:element name="fileSequenceNumber" minOccurs="0" type="FileSequenceNumber"/>
         <xsd:element name="fileCreationTimeStamp" minOccurs="0" type="FileCreationTimeStamp"/>
         <xsd:element name="transferCutOffTimeStamp" minOccurs="0" type="TransferCutOffTimeStamp"/>
         <xsd:element name="fileAvailableTimeStamp" minOccurs="0" type="FileAvailableTimeStamp"/>
         <xsd:element name="specificationVersionNumber" minOccurs="0" type="SpecificationVersionNumber"/>
         <xsd:element name="releaseVersionNumber" minOccurs="0" type="ReleaseVersionNumber"/>
         <xsd:element name="fileTypeIndicator" minOccurs="0" type="FileTypeIndicator"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxRateDefinition">
      <xsd:sequence>
         <xsd:element name="taxCode" minOccurs="0" type="TaxCode"/>
         <xsd:element name="taxType" minOccurs="0" type="TaxType"/>
         <xsd:element name="taxRate" minOccurs="0" type="TaxRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Taxation">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TaxRateDefinition" type="TaxRateDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DiscountApplied">
      <xsd:choice>
         <xsd:element name="fixedDiscountValue" type="DiscountValue"/>
         <xsd:element name="discountRate" type="DiscountRate"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="DiscountDefinition">
      <xsd:sequence>
         <xsd:element name="discountCode" minOccurs="0" type="DiscountCode"/>
         <xsd:element name="discountApplied" minOccurs="0" type="DiscountApplied"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Discounting">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DiscountDefinition" type="DiscountDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ExchangeRateDefinition">
      <xsd:sequence>
         <xsd:element name="exchangeRateCode" minOccurs="0" type="ExchangeRateCode"/>
         <xsd:element name="numberOfDecimalPlaces" minOccurs="0" type="NumberOfDecimalPlaces"/>
         <xsd:element name="exchangeRate" minOccurs="0" type="ExchangeRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CurrencyConversion">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ExchangeRateDefinition" type="ExchangeRateDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AccountingInfo">
      <xsd:sequence>
         <xsd:element name="taxation" minOccurs="0" type="Taxation"/>
         <xsd:element name="discounting" minOccurs="0" type="Discounting"/>
         <xsd:element name="localCurrency" minOccurs="0" type="LocalCurrency"/>
         <xsd:element name="tapCurrency" minOccurs="0" type="TapCurrency"/>
         <xsd:element name="currencyConversion" minOccurs="0" type="CurrencyConversion"/>
         <xsd:element name="tapDecimalPlaces" minOccurs="0" type="TapDecimalPlaces"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UtcTimeOffsetDefinition">
      <xsd:sequence>
         <xsd:element name="utcTimeOffsetCode" minOccurs="0" type="UtcTimeOffsetCode"/>
         <xsd:element name="utcTimeOffset" minOccurs="0" type="UtcTimeOffset"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UtcTimeOffsetInfo">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="UtcTimeOffsetDefinition" type="UtcTimeOffsetDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RecEntityId">
      <xsd:choice>
         <xsd:element name="mscId" type="MscId"/>
         <xsd:element name="msisdn" type="Msisdn"/>
         <xsd:element name="gsnaddress" type="GsnAddress"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RecEntityDefinition">
      <xsd:sequence>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="recEntityType" minOccurs="0" type="RecEntityType"/>
         <xsd:element name="recEntityId" minOccurs="0" type="RecEntityId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RecEntityTable">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="RecEntityDefinition" type="RecEntityDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="CountryCodeTable">
      <xsd:list itemType="CountryCode"/>
   </xsd:simpleType>

   <xsd:simpleType name="IacTable">
      <xsd:list itemType="Iac"/>
   </xsd:simpleType>

   <xsd:complexType name="CalledNumAnalysis">
      <xsd:sequence>
         <xsd:element name="calledNumAnalysisCode" minOccurs="0" type="CalledNumAnalysisCode"/>
         <xsd:element name="countryCodeTable" minOccurs="0" type="CountryCodeTable"/>
         <xsd:element name="iacTable" minOccurs="0" type="IacTable"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CalledNumAnalysisList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CalledNumAnalysis" type="CalledNumAnalysis"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkInfo">
      <xsd:sequence>
         <xsd:element name="utcTimeOffsetInfo" minOccurs="0" type="UtcTimeOffsetInfo"/>
         <xsd:element name="recEntityInfo" minOccurs="0" type="RecEntityTable"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="calledNumAnalysis" minOccurs="0" type="CalledNumAnalysisList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="VasDefinition">
      <xsd:sequence>
         <xsd:element name="vasCode" minOccurs="0" type="VasCode"/>
         <xsd:element name="vasShortDesc" minOccurs="0" type="VasShortDescription"/>
         <xsd:element name="vasDesc" minOccurs="0" type="VasDescription"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="VasInfo">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="VasDefinition" type="VasDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MessageDescriptionDefinition">
      <xsd:sequence>
         <xsd:element name="messageDescriptionCode" minOccurs="0" type="MessageDescriptionCode"/>
         <xsd:element name="messageDescription" minOccurs="0" type="MessageDescription"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MessageDescriptionInfo">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="MessageDescriptionDefinition" type="MessageDescriptionDefinition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SimChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="imsi" minOccurs="0" type="Imsi"/>
         <xsd:element name="msisdn" minOccurs="0" type="Msisdn"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MinChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="min" minOccurs="0" type="Min"/>
         <xsd:element name="mdn" minOccurs="0" type="Mdn"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeableSubscriber">
      <xsd:choice>
         <xsd:element name="simChargeableSubscriber" type="SimChargeableSubscriber"/>
         <xsd:element name="minChargeableSubscriber" type="MinChargeableSubscriber"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Destination">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="calledNumber" minOccurs="0" type="AddressStringDigits"/>
         <xsd:element name="modificationIndicator" minOccurs="0" type="ModificationIndicator"/>
         <xsd:element name="calledPlace" minOccurs="0" type="CalledPlace"/>
         <xsd:element name="calledRegion" minOccurs="0" type="CalledRegion"/>
         <xsd:element name="calledNumAnalysisCode" minOccurs="0" type="CalledNumAnalysisCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MoBasicCallInformation">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="destination" minOccurs="0" type="Destination"/>
         <xsd:element name="destinationNetwork" minOccurs="0" type="DestinationNetwork"/>
         <xsd:element name="callEventStartTimeStamp" minOccurs="0" type="CallEventStartTimeStamp"/>
         <xsd:element name="totalCallEventDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="simToolkitIndicator" minOccurs="0" type="SimToolkitIndicator"/>
         <xsd:element name="causeForTerm" minOccurs="0" type="CauseForTerm"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkLocation">
      <xsd:sequence>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="callReference" minOccurs="0" type="CallReference"/>
         <xsd:element name="locationArea" minOccurs="0" type="LocationArea"/>
         <xsd:element name="cellId" minOccurs="0" type="CellId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HomeLocationInformation">
      <xsd:sequence>
         <xsd:element name="homeBid" minOccurs="0" type="HomeBid"/>
         <xsd:element name="homeLocationDescription" minOccurs="0" type="LocationDescription"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GeographicalLocation">
      <xsd:sequence>
         <xsd:element name="servingNetwork" minOccurs="0" type="ServingNetwork"/>
         <xsd:element name="servingBid" minOccurs="0" type="ServingBid"/>
         <xsd:element name="servingLocationDescription" minOccurs="0" type="LocationDescription"/>
         <xsd:element name="longitude" minOccurs="0" type="Longitude"/>
         <xsd:element name="latitude" minOccurs="0" type="Latitude"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LocationInformation">
      <xsd:sequence>
         <xsd:element name="networkLocation" minOccurs="0" type="NetworkLocation"/>
         <xsd:element name="homeLocationInformation" minOccurs="0" type="HomeLocationInformation"/>
         <xsd:element name="geographicalLocation" minOccurs="0" type="GeographicalLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ImeiOrEsn">
      <xsd:choice>
         <xsd:element name="imei" type="Imei"/>
         <xsd:element name="esn" type="Esn"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="EquipmentInformation">
      <xsd:sequence>
         <xsd:element name="mobileStationClassMark" minOccurs="0" type="MobileStationClassMark"/>
         <xsd:element name="imeiOrEsn" minOccurs="0" type="ImeiOrEsn"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceCode">
      <xsd:choice>
         <xsd:element name="teleServiceCode" type="TeleServiceCode"/>
         <xsd:element name="bearerServiceCode" type="BearerServiceCode"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="BasicService">
      <xsd:sequence>
         <xsd:element name="serviceCode" minOccurs="0" type="BasicServiceCode"/>
         <xsd:element name="radioChannelRequested" minOccurs="0" type="RadioChannelRequested"/>
         <xsd:element name="radioChannelUsed" minOccurs="0" type="RadioChannelUsed"/>
         <xsd:element name="speechVersionRequested" minOccurs="0" type="SpeechVersionRequested"/>
         <xsd:element name="speechVersionUsed" minOccurs="0" type="SpeechVersionUsed"/>
         <xsd:element name="transparencyIndicator" minOccurs="0" type="TransparencyIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallTypeGroup">
      <xsd:sequence>
         <xsd:element name="callTypeLevel1" minOccurs="0" type="CallTypeLevel1"/>
         <xsd:element name="callTypeLevel2" minOccurs="0" type="CallTypeLevel2"/>
         <xsd:element name="callTypeLevel3" minOccurs="0" type="CallTypeLevel3"/>
         <xsd:element name="calledCountryCode" minOccurs="0" type="CalledCountryCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeDetail">
      <xsd:sequence>
         <xsd:element name="chargeType" minOccurs="0" type="ChargeType"/>
         <xsd:element name="charge" minOccurs="0" type="Charge"/>
         <xsd:element name="chargeableUnits" minOccurs="0" type="ChargeableUnits"/>
         <xsd:element name="chargedUnits" minOccurs="0" type="ChargedUnits"/>
         <xsd:element name="chargeDetailTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="dayCategory" minOccurs="0" type="DayCategory"/>
         <xsd:element name="dayCategorySubtype" minOccurs="0" type="DayCategorySubtype"/>
         <xsd:element name="timeBand" minOccurs="0" type="TimeBand"/>
         <xsd:element name="timeBandSubtype" minOccurs="0" type="TimeBandSubtype"/>
         <xsd:element name="multiRateIndicator" minOccurs="0" type="MultiRateIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeDetailList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargeDetail" type="ChargeDetail"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxInformation">
      <xsd:sequence>
         <xsd:element name="taxCode" minOccurs="0" type="TaxCode"/>
         <xsd:element name="taxValue" minOccurs="0" type="Charge"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxInformationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TaxInformation" type="TaxInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DiscountInformation">
      <xsd:sequence>
         <xsd:element name="discountCode" minOccurs="0" type="DiscountCode"/>
         <xsd:element name="discount" minOccurs="0" type="DiscountValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeInformation">
      <xsd:sequence>
         <xsd:element name="chargedItem" minOccurs="0" type="ChargedItem"/>
         <xsd:element name="exchangeRateCode" minOccurs="0" type="ExchangeRateCode"/>
         <xsd:element name="callTypeGroup" minOccurs="0" type="CallTypeGroup"/>
         <xsd:element name="chargeDetailList" minOccurs="0" type="ChargeDetailList"/>
         <xsd:element name="taxInformation" minOccurs="0" type="TaxInformationList"/>
         <xsd:element name="discountInformation" minOccurs="0" type="DiscountInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeInformationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargeInformation" type="ChargeInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="ChannelCodingsAcceptable">
      <xsd:list itemType="ChannelCoding"/>
   </xsd:simpleType>

   <xsd:complexType name="BasicHSCSDParameters">
      <xsd:sequence>
         <xsd:element name="fnur" minOccurs="0" type="Fnur"/>
         <xsd:element name="aiur" minOccurs="0" type="AiurRequested"/>
         <xsd:element name="maxNumberOfChannels" minOccurs="0" type="NumberOfChannels"/>
         <xsd:element name="channelCodingsAcceptable" minOccurs="0" type="ChannelCodingsAcceptable"/>
         <xsd:element name="channelCodingUsed" minOccurs="0" type="ChannelCoding"/>
         <xsd:element name="numberOfChannelsUsed" minOccurs="0" type="NumberOfChannelsUsed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HSCSDParameterModification">
      <xsd:sequence>
         <xsd:element name="aiur" minOccurs="0" type="AiurRequested"/>
         <xsd:element name="maxNumberOfChannels" minOccurs="0" type="NumberOfChannels"/>
         <xsd:element name="channelCodingUsed" minOccurs="0" type="ChannelCoding"/>
         <xsd:element name="numberOfChannelsUsed" minOccurs="0" type="NumberOfChannelsUsed"/>
         <xsd:element name="initiatingParty" minOccurs="0" type="InitiatingParty"/>
         <xsd:element name="modificationTimestamp" minOccurs="0" type="ModificationTimestamp"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HSCSDParameterModificationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="HSCSDParameterModification" type="HSCSDParameterModification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HSCSDInformation">
      <xsd:sequence>
         <xsd:element name="basicHSCSDParameters" minOccurs="0" type="BasicHSCSDParameters"/>
         <xsd:element name="hSCSDParameterModificationList" minOccurs="0" type="HSCSDParameterModificationList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceUsed">
      <xsd:sequence>
         <xsd:element name="basicService" minOccurs="0" type="BasicService"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
         <xsd:element name="dataVolumeReference" minOccurs="0" type="DataVolumeReference"/>
         <xsd:element name="hSCSDInformation" minOccurs="0" type="HSCSDInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceUsedList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BasicServiceUsed" type="BasicServiceUsed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ThirdPartyInformation">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="thirdPartyNumber" minOccurs="0" type="AddressStringDigits"/>
         <xsd:element name="modificationIndicator" minOccurs="0" type="ModificationIndicator"/>
         <xsd:element name="clirIndicator" minOccurs="0" type="ClirIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceCodeList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BasicServiceCode" type="BasicServiceCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SupplServiceUsed">
      <xsd:sequence>
         <xsd:element name="supplServiceCode" minOccurs="0" type="SupplServiceCode"/>
         <xsd:element name="supplServiceActionCode" minOccurs="0" type="SupplServiceActionCode"/>
         <xsd:element name="ssParameters" minOccurs="0" type="SsParameters"/>
         <xsd:element name="thirdPartyInformation" minOccurs="0" type="ThirdPartyInformation"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformation" minOccurs="0" type="ChargeInformation"/>
         <xsd:element name="basicServiceCodeList" minOccurs="0" type="BasicServiceCodeList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SupplServiceUsedList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="SupplServiceUsed" type="SupplServiceUsed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CamelCallReference">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="mscAddress" minOccurs="0" type="AddressStringDigits"/>
         <xsd:element name="callReferenceNumber" minOccurs="0" type="CamelCallReferenceNumber"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="CamelModificationList">
      <xsd:list itemType="CamelModification"/>
   </xsd:simpleType>

   <xsd:complexType name="CamelDestination">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="camelDestinationNumber" minOccurs="0" type="AddressStringDigits"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="RemotePdpAddressList">
      <xsd:list itemType="PacketDataProtocolAddress"/>
   </xsd:simpleType>

   <xsd:complexType name="GprsDestination">
      <xsd:sequence>
         <xsd:element name="accessPointNameNI" minOccurs="0" type="AccessPointNameNI"/>
         <xsd:element name="accessPointNameOI" minOccurs="0" type="AccessPointNameOI"/>
         <xsd:element name="remotePdpAddressList" minOccurs="0" type="RemotePdpAddressList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ThreeGcamelDestination">
      <xsd:choice>
         <xsd:element name="camelDestination" type="CamelDestination"/>
         <xsd:element name="gprsDestination" type="GprsDestination"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CamelServiceUsed">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="camelServerAddress" minOccurs="0" type="AddressStringDigits"/>
         <xsd:element name="camelServiceLevel" minOccurs="0" type="CamelServiceLevel"/>
         <xsd:element name="camelServiceKey" minOccurs="0" type="CamelServiceKey"/>
         <xsd:element name="defaultCallHandling" minOccurs="0" type="DefaultCallHandlingIndicator"/>
         <xsd:element name="camelCallReference" minOccurs="0" type="CamelCallReference"/>
         <xsd:element name="camelChargeInformation" minOccurs="0" type="ChargeInformation"/>
         <xsd:element name="camelInitiatedCFIndicator" minOccurs="0" type="CamelInitiatedCFIndicator"/>
         <xsd:element name="camelModificationList" minOccurs="0" type="CamelModificationList"/>
         <xsd:element name="threeGcamelDestination" minOccurs="0" type="ThreeGcamelDestination"/>
         <xsd:element name="cseInformation" minOccurs="0" type="CseInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ValueAddedServiceUsed">
      <xsd:sequence>
         <xsd:element name="vasCode" minOccurs="0" type="VasCode"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformation" minOccurs="0" type="ChargeInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ValueAddedServiceUsedList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ValueAddedServiceUsed" type="ValueAddedServiceUsed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DualServiceCode">
      <xsd:choice>
         <xsd:element name="dualTeleServiceCode" type="DualTeleServiceCode"/>
         <xsd:element name="dualBearerServiceCode" type="DualBearerServiceCode"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="MobileOriginatedCall">
      <xsd:sequence>
         <xsd:element name="basicCallInformation" minOccurs="0" type="MoBasicCallInformation"/>
         <xsd:element name="locationInformation" minOccurs="0" type="LocationInformation"/>
         <xsd:element name="equipmentInformation" minOccurs="0" type="EquipmentInformation"/>
         <xsd:element name="basicServiceUsedList" minOccurs="0" type="BasicServiceUsedList"/>
         <xsd:element name="supplServiceUsedList" minOccurs="0" type="SupplServiceUsedList"/>
         <xsd:element name="camelServiceUsed" minOccurs="0" type="CamelServiceUsed"/>
         <xsd:element name="valueAddedServiceUsedList" minOccurs="0" type="ValueAddedServiceUsedList"/>
         <xsd:element name="dualServiceRequested" minOccurs="0" type="DualServiceCode"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallOriginator">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="callingNumber" minOccurs="0" type="AddressStringDigits"/>
         <xsd:element name="modificationIndicator" minOccurs="0" type="ModificationIndicator"/>
         <xsd:element name="clirIndicator" minOccurs="0" type="ClirIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MtBasicCallInformation">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="callOriginator" minOccurs="0" type="CallOriginator"/>
         <xsd:element name="originatingNetwork" minOccurs="0" type="OriginatingNetwork"/>
         <xsd:element name="callEventStartTimeStamp" minOccurs="0" type="CallEventStartTimeStamp"/>
         <xsd:element name="totalCallEventDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="simToolkitIndicator" minOccurs="0" type="SimToolkitIndicator"/>
         <xsd:element name="causeForTerm" minOccurs="0" type="CauseForTerm"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MobileTerminatedCall">
      <xsd:sequence>
         <xsd:element name="basicCallInformation" minOccurs="0" type="MtBasicCallInformation"/>
         <xsd:element name="locationInformation" minOccurs="0" type="LocationInformation"/>
         <xsd:element name="equipmentInformation" minOccurs="0" type="EquipmentInformation"/>
         <xsd:element name="basicServiceUsedList" minOccurs="0" type="BasicServiceUsedList"/>
         <xsd:element name="supplServiceUsedList" minOccurs="0" type="SupplServiceUsedList"/>
         <xsd:element name="camelServiceUsed" minOccurs="0" type="CamelServiceUsed"/>
         <xsd:element name="valueAddedServiceUsedList" minOccurs="0" type="ValueAddedServiceUsedList"/>
         <xsd:element name="dualServiceRequested" minOccurs="0" type="DualServiceCode"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SupplServiceEvent">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="locationInformation" minOccurs="0" type="LocationInformation"/>
         <xsd:element name="equipmentInformation" minOccurs="0" type="EquipmentInformation"/>
         <xsd:element name="supplServiceUsed" minOccurs="0" type="SupplServiceUsed"/>
         <xsd:element name="simToolkitIndicator" minOccurs="0" type="SimToolkitIndicator"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuVasChargeableSubscriber">
      <xsd:choice>
         <xsd:element name="simChargeableSubscriber" type="SimChargeableSubscriber"/>
         <xsd:element name="msisdn" type="Msisdn"/>
         <xsd:element name="min" type="Min"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="NonChargedParty">
      <xsd:sequence>
         <xsd:element name="typeOfNumber" minOccurs="0" type="TypeOfNumber"/>
         <xsd:element name="numberingPlan" minOccurs="0" type="NumberingPlan"/>
         <xsd:element name="nonChargedNumber" minOccurs="0" type="AddressStringDigits"/>
         <xsd:element name="calledNumAnalysisCode" minOccurs="0" type="CalledNumAnalysisCode"/>
         <xsd:element name="modificationIndicator" minOccurs="0" type="ModificationIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuBasicInformation">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ScuVasChargeableSubscriber"/>
         <xsd:element name="chargedPartyStatus" minOccurs="0" type="ChargedPartyStatus"/>
         <xsd:element name="nonChargedParty" minOccurs="0" type="NonChargedParty"/>
         <xsd:element name="clirIndicator" minOccurs="0" type="ClirIndicator"/>
         <xsd:element name="originatingNetwork" minOccurs="0" type="OriginatingNetwork"/>
         <xsd:element name="destinationNetwork" minOccurs="0" type="DestinationNetwork"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuChargeType">
      <xsd:sequence>
         <xsd:element name="messageStatus" minOccurs="0" type="MessageStatus"/>
         <xsd:element name="priorityCode" minOccurs="0" type="PriorityCode"/>
         <xsd:element name="distanceChargeBandCode" minOccurs="0" type="DistanceChargeBandCode"/>
         <xsd:element name="messageType" minOccurs="0" type="MessageType"/>
         <xsd:element name="messageDescriptionCode" minOccurs="0" type="MessageDescriptionCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuTimeStamps">
      <xsd:sequence>
         <xsd:element name="depositTimeStamp" minOccurs="0" type="DepositTimeStamp"/>
         <xsd:element name="completionTimeStamp" minOccurs="0" type="CompletionTimeStamp"/>
         <xsd:element name="chargingPoint" minOccurs="0" type="ChargingPoint"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServiceCentreUsage">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="basicInformation" minOccurs="0" type="ScuBasicInformation"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="servingNetwork" minOccurs="0" type="ServingNetwork"/>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="chargeInformation" minOccurs="0" type="ChargeInformation"/>
         <xsd:element name="scuChargeType" minOccurs="0" type="ScuChargeType"/>
         <xsd:element name="scuTimeStamps" minOccurs="0" type="ScuTimeStamps"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ValueAddedService">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ScuVasChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="servingNetwork" minOccurs="0" type="ServingNetwork"/>
         <xsd:element name="valueAddedServiceUsed" minOccurs="0" type="ValueAddedServiceUsed"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="pdpType" minOccurs="0" type="PdpType"/>
         <xsd:element name="pdpAddress" minOccurs="0" type="PdpAddress"/>
         <xsd:element name="chargingCharacteristics" minOccurs="0" type="ChargingCharacteristics"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsBasicCallInformation">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="GprsChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="networkType" minOccurs="0" type="NetworkType"/>
         <xsd:element name="gprsDestination" minOccurs="0" type="GprsDestination"/>
         <xsd:element name="callEventStartTimeStamp" minOccurs="0" type="CallEventStartTimeStamp"/>
         <xsd:element name="totalCallEventDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="causeForTerm" minOccurs="0" type="CauseForTerm"/>
         <xsd:element name="partialTypeIndicator" minOccurs="0" type="PartialTypeIndicator"/>
         <xsd:element name="pDPContextStartTimestamp" minOccurs="0" type="PDPContextStartTimestamp"/>
         <xsd:element name="networkInitPDPContext" minOccurs="0" type="NetworkInitPDPContext"/>
         <xsd:element name="chargingId" minOccurs="0" type="ChargingId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="RecEntityCodeList">
      <xsd:list itemType="RecEntityCode"/>
   </xsd:simpleType>

   <xsd:complexType name="GprsNetworkLocation">
      <xsd:sequence>
         <xsd:element name="recEntity" minOccurs="0" type="RecEntityCodeList"/>
         <xsd:element name="locationArea" minOccurs="0" type="LocationArea"/>
         <xsd:element name="cellId" minOccurs="0" type="CellId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsLocationInformation">
      <xsd:sequence>
         <xsd:element name="gprsNetworkLocation" minOccurs="0" type="GprsNetworkLocation"/>
         <xsd:element name="homeLocationInformation" minOccurs="0" type="HomeLocationInformation"/>
         <xsd:element name="geographicalLocation" minOccurs="0" type="GeographicalLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="QoSRequested">
      <xsd:choice>
         <xsd:element name="gsmQoSRequested" type="GSMQoSRequested"/>
         <xsd:element name="umtsQoSRequested" type="UMTSQoSRequested"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="QoSUsed">
      <xsd:choice>
         <xsd:element name="gsmQoSUsed" type="GSMQoSUsed"/>
         <xsd:element name="umtsQoSUsed" type="UMTSQoSUsed"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="GprsServiceUsage">
      <xsd:sequence>
         <xsd:element name="gprsUsageTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="qosRequested" minOccurs="0" type="QoSRequested"/>
         <xsd:element name="qosUsed" minOccurs="0" type="QoSUsed"/>
         <xsd:element name="dataVolumeIncoming" minOccurs="0" type="DataVolumeIncoming"/>
         <xsd:element name="dataVolumeOutgoing" minOccurs="0" type="DataVolumeOutgoing"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsServiceUsageList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="GprsServiceUsage" type="GprsServiceUsage"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsServiceUsed">
      <xsd:sequence>
         <xsd:element name="gprsServiceUsageList" minOccurs="0" type="GprsServiceUsageList"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsCall">
      <xsd:sequence>
         <xsd:element name="typeOfControllingNode" minOccurs="0" type="TypeOfControllingNode"/>
         <xsd:element name="gprsBasicCallInformation" minOccurs="0" type="GprsBasicCallInformation"/>
         <xsd:element name="gprsLocationInformation" minOccurs="0" type="GprsLocationInformation"/>
         <xsd:element name="equipmentInformation" minOccurs="0" type="EquipmentInformation"/>
         <xsd:element name="gprsServiceUsed" minOccurs="0" type="GprsServiceUsed"/>
         <xsd:element name="camelServiceUsed" minOccurs="0" type="CamelServiceUsed"/>
         <xsd:element name="valueAddedServiceUsedList" minOccurs="0" type="ValueAddedServiceUsedList"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentTransactionBasicInfo">
      <xsd:sequence>
         <xsd:element name="fraudMonitorIndicator" minOccurs="0" type="FraudMonitorIndicator"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="orderPlacementTimeStamp" minOccurs="0" type="OrderPlacementTimeStamp"/>
         <xsd:element name="requestedDeliveryTimeStamp" minOccurs="0" type="RequestedDeliveryTimeStamp"/>
         <xsd:element name="actualDeliveryTimeStamp" minOccurs="0" type="ActualDeliveryTimeStamp"/>
         <xsd:element name="totalTransactionDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="transactionStatus" minOccurs="0" type="TransactionStatus"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyIdentification">
      <xsd:choice>
         <xsd:element name="msisdn" type="Msisdn"/>
         <xsd:element name="imsi" type="Imsi"/>
         <xsd:element name="min" type="Min"/>
         <xsd:element name="ipAddress" type="IpAddress"/>
         <xsd:element name="loginName" type="LoginName"/>
         <xsd:element name="accountNumber" type="AccountNumber"/>
         <xsd:element name="emailAddress" type="EmailAddress"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyId">
      <xsd:sequence>
         <xsd:element name="chargedPartyIdType" minOccurs="0" type="ChargedPartyIdType"/>
         <xsd:element name="chargedPartyIdentification" minOccurs="0" type="ChargedPartyIdentification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargedPartyId" type="ChargedPartyId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HomeIdentifier">
      <xsd:choice>
         <xsd:element name="name" type="Name"/>
         <xsd:element name="tadigCode" type="PlmnId"/>
         <xsd:element name="homeBid" type="HomeBid"/>
         <xsd:element name="homeLocationDescription" type="LocationDescription"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyHomeId">
      <xsd:sequence>
         <xsd:element name="homeIdType" minOccurs="0" type="HomeIdType"/>
         <xsd:element name="homeIdentifier" minOccurs="0" type="HomeIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyHomeIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargedPartyHomeId" type="ChargedPartyHomeId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LocationIdentifier">
      <xsd:choice>
         <xsd:element name="countryName" type="CountryName"/>
         <xsd:element name="countryE164Id" type="CountryCode"/>
         <xsd:element name="countryCode" type="CountryAsciCode"/>
         <xsd:element name="region" type="Region"/>
         <xsd:element name="place" type="Place"/>
         <xsd:element name="ipLocation" type="IpAddress"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyLocation">
      <xsd:sequence>
         <xsd:element name="locationIdType" minOccurs="0" type="LocationIdType"/>
         <xsd:element name="locationIdentifier" minOccurs="0" type="LocationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyLocationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargedPartyLocation" type="ChargedPartyLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EquipmentId">
      <xsd:choice>
         <xsd:element name="imei" type="Imei"/>
         <xsd:element name="esn" type="Esn"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyEquipment">
      <xsd:sequence>
         <xsd:element name="equipmentIdType" minOccurs="0" type="EquipmentIdType"/>
         <xsd:element name="equipmentId" minOccurs="0" type="EquipmentId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyInformation">
      <xsd:sequence>
         <xsd:element name="chargedPartyIdList" minOccurs="0" type="ChargedPartyIdList"/>
         <xsd:element name="chargedPartyHomeIdList" minOccurs="0" type="ChargedPartyHomeIdList"/>
         <xsd:element name="chargedPartyLocationList" minOccurs="0" type="ChargedPartyLocationList"/>
         <xsd:element name="chargedPartyEquipment" minOccurs="0" type="ChargedPartyEquipment"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ProviderId">
      <xsd:choice>
         <xsd:element name="name" type="Name"/>
         <xsd:element name="tadigCode" type="PlmnId"/>
         <xsd:element name="url" type="Url"/>
         <xsd:element name="ipAddress" type="IpAddress"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ContentProviderId">
      <xsd:sequence>
         <xsd:element name="contentProviderIdType" minOccurs="0" type="ProviderIdType"/>
         <xsd:element name="contentProviderId" minOccurs="0" type="ProviderId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentProviderIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ContentProviderId" type="ContentProviderId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InternetServiceProviderId">
      <xsd:sequence>
         <xsd:element name="internetServiceProviderIdType" minOccurs="0" type="ProviderIdType"/>
         <xsd:element name="internetServiceProviderId" minOccurs="0" type="ProviderId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InternetServiceProviderIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="InternetServiceProviderId" type="InternetServiceProviderId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkDesc">
      <xsd:choice>
         <xsd:element name="name" type="Name"/>
         <xsd:element name="tadigCode" type="PlmnId"/>
         <xsd:element name="homeBid" type="HomeBid"/>
         <xsd:element name="homeLocationDescription" type="LocationDescription"/>
         <xsd:element name="apn" type="AccessPointName"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="NetworkIdGroup">
      <xsd:sequence>
         <xsd:element name="networkIdType" minOccurs="0" type="NetworkIdType"/>
         <xsd:element name="networkId" minOccurs="0" type="NetworkDesc"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="NetworkIdGroup" type="NetworkIdGroup"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServingPartiesInformation">
      <xsd:sequence>
         <xsd:element name="contentProviderName" minOccurs="0" type="ContentProviderName"/>
         <xsd:element name="contentProviderIdList" minOccurs="0" type="ContentProviderIdList"/>
         <xsd:element name="internetServiceProviderIdList" minOccurs="0" type="InternetServiceProviderIdList"/>
         <xsd:element name="networkIdList" minOccurs="0" type="NetworkIdList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdvisedChargeInformation">
      <xsd:sequence>
         <xsd:element name="paidIndicator" minOccurs="0" type="PaidIndicator"/>
         <xsd:element name="paymentMethod" minOccurs="0" type="PaymentMethod"/>
         <xsd:element name="advisedChargeCurrency" minOccurs="0" type="AdvisedChargeCurrency"/>
         <xsd:element name="advisedCharge" minOccurs="0" type="AdvisedCharge"/>
         <xsd:element name="commission" minOccurs="0" type="Commission"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentServiceUsed">
      <xsd:sequence>
         <xsd:element name="contentTransactionCode" minOccurs="0" type="ContentTransactionCode"/>
         <xsd:element name="contentTransactionType" minOccurs="0" type="ContentTransactionType"/>
         <xsd:element name="transactionDescriptionSupp" minOccurs="0" type="TransactionDescriptionSupp"/>
         <xsd:element name="transactionShortDescription" minOccurs="0" type="TransactionShortDescription"/>
         <xsd:element name="transactionDetailDescription" minOccurs="0" type="TransactionDetailDescription"/>
         <xsd:element name="transactionIdentifier" minOccurs="0" type="TransactionIdentifier"/>
         <xsd:element name="transactionAuthCode" minOccurs="0" type="TransactionAuthCode"/>
         <xsd:element name="dataVolumeIncoming" minOccurs="0" type="DataVolumeIncoming"/>
         <xsd:element name="dataVolumeOutgoing" minOccurs="0" type="DataVolumeOutgoing"/>
         <xsd:element name="totalDataVolume" minOccurs="0" type="TotalDataVolume"/>
         <xsd:element name="chargeRefundIndicator" minOccurs="0" type="ChargeRefundIndicator"/>
         <xsd:element name="contentChargingPoint" minOccurs="0" type="ContentChargingPoint"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
         <xsd:element name="advisedChargeInformation" minOccurs="0" type="AdvisedChargeInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentTransaction">
      <xsd:sequence>
         <xsd:element name="contentTransactionBasicInfo" minOccurs="0" type="ContentTransactionBasicInfo"/>
         <xsd:element name="chargedPartyInformation" minOccurs="0" type="ChargedPartyInformation"/>
         <xsd:element name="servingPartiesInformation" minOccurs="0" type="ServingPartiesInformation"/>
         <xsd:element name="contentServiceUsed" minOccurs="0" type="ContentServiceUsed"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallEventDetail">
      <xsd:choice>
         <xsd:element name="mobileOriginatedCall" type="MobileOriginatedCall"/>
         <xsd:element name="mobileTerminatedCall" type="MobileTerminatedCall"/>
         <xsd:element name="supplServiceEvent" type="SupplServiceEvent"/>
         <xsd:element name="serviceCentreUsage" type="ServiceCentreUsage"/>
         <xsd:element name="valueAddedService" type="ValueAddedService"/>
         <xsd:element name="gprsCall" type="GprsCall"/>
         <xsd:element name="contentTransaction" type="ContentTransaction"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CallEventDetailList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CallEventDetail" type="CallEventDetail"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TotalChargeValue">
      <xsd:sequence>
         <xsd:element name="chargeType" minOccurs="0" type="ChargeType"/>
         <xsd:element name="totalCharge" minOccurs="0" type="AbsoluteAmount"/>
         <xsd:element name="totalChargeRefund" minOccurs="0" type="TotalChargeRefund"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TotalChargeValueList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TotalChargeValue" type="TotalChargeValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TotalAdvisedChargeValue">
      <xsd:sequence>
         <xsd:element name="advisedChargeCurrency" minOccurs="0" type="AdvisedChargeCurrency"/>
         <xsd:element name="totalAdvisedCharge" minOccurs="0" type="TotalAdvisedCharge"/>
         <xsd:element name="totalAdvisedChargeRefund" minOccurs="0" type="TotalAdvisedChargeRefund"/>
         <xsd:element name="totalCommission" minOccurs="0" type="TotalCommission"/>
         <xsd:element name="totalCommissionRefund" minOccurs="0" type="TotalCommissionRefund"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TotalAdvisedChargeValueList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TotalAdvisedChargeValue" type="TotalAdvisedChargeValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AuditControlInfo">
      <xsd:sequence>
         <xsd:element name="earliestCallTimeStamp" minOccurs="0" type="EarliestCallTimeStamp"/>
         <xsd:element name="latestCallTimeStamp" minOccurs="0" type="LatestCallTimeStamp"/>
         <xsd:element name="totalChargeValueList" minOccurs="0" type="TotalChargeValueList"/>
         <xsd:element name="totalTaxRefund" minOccurs="0" type="TotalTaxRefund"/>
         <xsd:element name="totalTaxValue" minOccurs="0" type="TotalTaxValue"/>
         <xsd:element name="totalDiscountValue" minOccurs="0" type="TotalDiscountValue"/>
         <xsd:element name="totalDiscountRefund" minOccurs="0" type="TotalDiscountRefund"/>
         <xsd:element name="totalAdvisedChargeValueList" minOccurs="0" type="TotalAdvisedChargeValueList"/>
         <xsd:element name="callEventDetailsCount" minOccurs="0" type="CallEventDetailsCount"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TransferBatch">
      <xsd:sequence>
         <xsd:element name="batchControlInfo" minOccurs="0" type="BatchControlInfo"/>
         <xsd:element name="accountingInfo" minOccurs="0" type="AccountingInfo"/>
         <xsd:element name="networkInfo" minOccurs="0" type="NetworkInfo"/>
         <xsd:element name="vasInfo" minOccurs="0" type="VasInfo"/>
         <xsd:element name="messageDescriptionInfo" minOccurs="0" type="MessageDescriptionInfo"/>
         <xsd:element name="callEventDetails" minOccurs="0" type="CallEventDetailList"/>
         <xsd:element name="auditControlInfo" minOccurs="0" type="AuditControlInfo"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Notification">
      <xsd:sequence>
         <xsd:element name="sender" minOccurs="0" type="Sender"/>
         <xsd:element name="recipient" minOccurs="0" type="Recipient"/>
         <xsd:element name="fileSequenceNumber" minOccurs="0" type="FileSequenceNumber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="fileCreationTimeStamp" minOccurs="0" type="FileCreationTimeStamp"/>
         <xsd:element name="fileAvailableTimeStamp" minOccurs="0" type="FileAvailableTimeStamp"/>
         <xsd:element name="transferCutOffTimeStamp" minOccurs="0" type="TransferCutOffTimeStamp"/>
         <xsd:element name="specificationVersionNumber" minOccurs="0" type="SpecificationVersionNumber"/>
         <xsd:element name="releaseVersionNumber" minOccurs="0" type="ReleaseVersionNumber"/>
         <xsd:element name="fileTypeIndicator" minOccurs="0" type="FileTypeIndicator"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>