tmp/test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
>

	<xs:complexType name ="person">
	<xs:sequence>
		<xs:element name="firstname" type="xs:string"/>
		<xs:element name="lastname" type="xs:string"/>
	</xs:sequence>
	</xs:complexType>
	  

	<xs:element name="father" type="person"/>
	<xs:element name="mother" type="person"/>

	
	<xs:element name = "persons">
		<xs:complexType>
			<xs:sequence>
			   <xs:element name="father" type="person" maxOccurs="1"/>
			   <xs:element name="mother" type="person" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>